<div class="row account">
    <div class=" col-md-6 ">
        <div class="jumbotron jumbo ">
            <form class="firstForm">

                <h3 class="text-center page-header">Account details</h3>
                <div class="col-md-12 col-md-offset-0 col-sm-4 col-sm-offset-4 text-center">
                    <img ng-src="{{user.avatar}}" alt="avatar" class="userAvatar" />
                    <input onclick="document.getElementById('uploadPhoto').click()" type="button" class="btn btn-primary btn-filled loginBtn uploadPhotoBtn" value="Choose photo" />

                    <input id="uploadPhoto" type="file" name="picture" file-model="myFile" accept="application/x-zip-compressed,image/*">
                    <p id="changeAvatarP" class="text-danger"></p>
                </div>
                <hr>
                <div class="form-group row">
                    <label for="userFullname" class="col-sm-2 userLabel">Full name :</label>
                    <input id="userFullname" ng-model="userData.fullName" type="text" class="userData col-sm-9" placeholder="{{user.fullName}}" />
                </div>
                <div class="form-group row">
                    <label for="userMail" class="col-sm-2 userLabel">E-mail :</label>
                    <input id="userMail" ng-model="userData.email" type="email" class="userData col-sm-9" ng-init="userData.email" placeholder="{{user.email}}" />
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-4 col-sm-offset-4 text-center">
                    <input ng-click="changeUserData()" type="button" class="btn btn-primary btn-filled loginBtn" value="Change details" />
                    <p class="text-success">{{dataText}}</p>
                </div>
            </form>
            <form>
                <h3 class="text-center page-header">Profile details</h3>
                <div class="form-group row">
                    <label class="col-sm-3  userLabel">Username :     {{user.name}} </label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3  userLabel">Role :     {{user.role}} </label>
                </div>
            </form>
            <form name="userPassChange">
                <h3 class="text-center page-header">Change Password</h3>
                <div class="form-group row">
                    <label for="userPassword" class="col-sm-2 userLabel">Old :</label>
                    <input id="userPassword" ng-model="changePass.old" type="password" class="userData col-sm-9" placeholder="Enter old password" required/>
                </div>
                <div class="form-group row">
                    <label for="userNewPass" class="col-sm-2 userLabel">New :</label>
                    <input id="userNewPass" ng-model="changePass.new" type="password" class="userData col-sm-9" placeholder="Enter new password" required/>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-4 col-sm-offset-4 text-center">
                    <input ng-disabled="userPassChange.$invalid" ng-click="changePassword()" type="button" class="btn btn-primary btn-filled loginBtn" value="Change password" />
                    <p id="changePassP">{{text}}</p>
                </div>
            </form>

        </div>
    </div>
    <div ng-show="user.role == 'Admin'" class="col-md-6 ">
        <div class="jumbotron jumbo row">
            <div class="page-header row">
                <button ng-click="hidePeople()" type="button" class="btn btn-info col-xs-4 col-xs-offset-1" data-toggle="collapse" data-target="#lastChanges">Last Changes</button>
                <button ng-click="hideChanges()" type="button" class="btn btn-info col-xs-4 col-xs-offset-1" data-toggle="collapse" data-target="#peoples">People</button>
            </div>

            <div id="lastChanges" class="collapse in col-md-12">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
            <div id="peoples" class="collapse col-md-12">
                <div class="row sortOptionsDiv">
                    <div class="col-xs-12">
                        <input type="text" class="searchTaskInput" placeholder="Search" ng-model='seachUser'>
                    </div>
                    <div ng-click="sortByName()" class="col-xs-4 sortOptions">Name <i class="fa fa-sort"></i></div>
                    <div ng-click="sortByEmail()" class="col-xs-4 sortOptions">E-mail <i class="fa fa-sort"></i></div>
                    <div ng-click="sortByRole()" class="col-xs-2 sortOptions">Role <i class="fa fa-sort"></i></div>


                </div>
                <div ng-repeat="man in allUsers | orderBy : sorting | filter : seachUser" class="row people">
                    <div class="col-md-4"> {{man.fullName}}</div>
                    <div class="col-md-4 "> {{man.email}}</div>
                    <div class="col-md-2 text-center">{{man.role}}
                        <select ng-hide="man.role=='Admin'" class="selectpicker show-tick" ng-model="man.role" ng-change="updateMan(man._id, man.role)">
                                    <option value="Admin" class="taskOption" ng-model="allUsers[$index].role" >Admin</option>   
                                    <option value="Employee" class="epicOption" ng-model="allUsers[$index].role">Employee</option>
                                    <option value="Manager" class="bugOption" ng-model="allUsers[$index].role">Manager</option>       
                                </select>
                    </div>
                    <div ng-hide="man.role=='Admin'" ng-click="removeUser(man._id, $index)" class="col-md-2"><span class="removeUserBtn">Remove</span> </div>
                </div>

            </div>
        </div>
    </div>
    <div ng-hide="user.role == 'Admin'" class="col-md-6 ">
        <div class="jumbotron jumbo row">
            <h3 class="text-center page-header">Last Changes</h3>
        </div>
    </div>
</div>