<div class="row account viewContent">
    <div class=" col-md-6 ">
        <div class="jumbotron jumbo accountRight ">
            <div class="page-header row">
                <div class="col-xs-6"> <button ng-click="hideMail()" type="button" class="btn btn-info col-xs-8 col-xs-offset-2" data-toggle="collapse" data-target="#accountDetails">Account details</button>
                </div>
                <div class="col-xs-6"> <button ng-click="hideAccount()" type="button" class="btn btn-info col-xs-8 col-xs-offset-2" data-toggle="collapse" data-target="#mailDetails">Mails</button>
                </div>
            </div>
            <div id="accountDetails" class="collapse in col-md-12 text-center">
                <form class="firstForm">
                    <div class="col-md-12 col-md-offset-0 col-sm-4 col-sm-offset-4 text-center">
                        <img ng-src="{{user.avatar}}" alt="avatar" class="userAvatar" />
                        <input onclick="document.getElementById('uploadPhoto').click()" type="button" class="btn btn-primary btn-filled loginBtn uploadPhotoBtn" value="Choose photo" />

                        <input id="uploadPhoto" type="file" name="picture" file-model="myFile" accept="application/x-zip-compressed,image/*">
                        <p id="changeAvatarP" class="text-danger"></p>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label for="userFullname" class="col-sm-2 userLabel">Fullname :</label>
                        <input id="userFullname" ng-model="userData.fullName" type="text" class="userData col-sm-9" placeholder="{{user.fullName}}" />
                    </div>
                    <div class="form-group row">
                        <label for="userMail" class="col-sm-2 userLabel">E-mail :</label>
                        <input id="userMail" ng-model="userData.email" type="email" class="userData col-sm-9" ng-init="userData.email" placeholder="{{user.email}}" />
                    </div>
                    <div class="col-md-12 col-md-offset-0 col-sm-4 col-sm-offset-4 text-center">
                        <input ng-click="changeUserData()" type="button" class="btn btn-primary btn-filled loginBtn" value="Change details" />
                        <p class="text-success">{{dataText}}</p>
                    </div>
                </form>
                <form>
                    <h3 class="text-center page-header">Profile details</h3>
                    <div class="form-group row">
                        <label class="col-sm-3  userLabel">Username :     {{user.name}} </label>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3  userLabel">Role :     {{user.role}} </label>
                    </div>
                </form>
                <form name="userPassChange">
                    <h3 class="text-center page-header">Change Password</h3>
                    <div class="form-group row">
                        <label for="userPassword" class="col-sm-2 userLabel">Old :</label>
                        <input id="userPassword" ng-model="changePass.old" type="password" class="userData col-sm-9" placeholder="Enter old password" required/>
                    </div>
                    <div class="form-group row">
                        <label for="userNewPass" class="col-sm-2 userLabel">New :</label>
                        <input id="userNewPass" ng-model="changePass.new" type="password" class="userData col-sm-9" placeholder="Enter new password" required/>
                    </div>
                    <div class="col-md-12 col-md-offset-0 col-sm-4 col-sm-offset-4 text-center">
                        <input ng-disabled="userPassChange.$invalid" ng-click="changePassword()" type="button" class="btn btn-primary btn-filled loginBtn" value="Change password" />
                        <p id="changePassP">{{text}}</p>
                    </div>
                </form>
            </div>
            <div id="mailDetails" class="collapse  col-md-12 text-center">
                <div class="page-header row">
                    <button ng-click="hideSended()" type="button" class="btn btn-info col-xs-3 col-xs-offset-1" data-toggle="collapse" data-target="#sendedDetails">Sended</button>
                    <button ng-click="hideReceived()" type="button" class="btn btn-info col-xs-3 col-xs-offset-1" data-toggle="collapse" data-target="#receivedDetails">Received</button>
                    <button ng-click="newMailModal()" type="button" class="btn btn-primary col-xs-2 col-xs-offset-1">Write</button>

                    <!-- New Mail Modal -->
                    <form name="mailData" class="modal fade" id="createMail" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content" id="createNewPr">
                                <div class="modal-header">
                                    <h1 class="text-center white">Send new mail</h1>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label style="color:#fff">To: </label>
                                        <input ng-model="newMail.to" type="email" class="form-control reg " placeholder="Email" required autofocus/>
                                    </div>
                                    <div class="form-group">
                                        <label style="color:#fff">Subject :</label>
                                        <input ng-model="newMail.subject" type="text" class="form-control reg " placeholder="Subject here" required/>
                                    </div>
                                    <div class="descriptionArea" ckeditor="options" ng-model="newMail.text" ready=""></div>
                                    <div class="form-group text-center">
                                        <input ng-disabled="mailData.$invalid" ng-click="sentNewMail()" type="button" class="btn btn-primary btn-filled loginBtn sendMailBtn" value="Create" />
                                        <p id="sendedMailP">{{mailText}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--  -->
                </div>
                <div id="sendedDetails" class="collapse  col-md-12 text-center">
                    <div class="row sortOptionsDiv">
                        <div class="col-xs-12">
                            <input type="text" class="searchTaskInput searchTaskInput2" placeholder="Search" ng-model='seachMail'>
                        </div>
                        <div ng-click="sortByTo()" class="col-xs-4 sortOptions">To <i class="fa fa-sort"></i></div>
                        <div ng-click="sortBySubjectTo()" class="col-xs-4 sortOptions">Subject <i class="fa fa-sort"></i></div>
                        <div ng-click="sortByDateTo()" class="col-xs-3 sortOptions">Date <i class="fa fa-sort"></i></div>
                    </div>
                    <div ng-repeat="email in user.sendedMails | orderBy : sortingTo | filter : seachMailTo" class="row people text-left">
                        <div type="button" class="row" data-toggle="collapse" data-target="#{{email.date}}">
                            <div class="col-xs-4">
                                <p class="emailPar text-center">{{email.to}} </p>
                            </div>
                            <div class="col-xs-4">
                                <p class="emailPar text-center">{{email.smallerSubject}}</p>
                            </div>
                            <div class="col-xs-3">
                                <p class="emailPar text-center">{{email.updateDateShow}}</p>
                            </div>
                            <div class="col-xs-1">
                                <p class="emailPar text-center" ng-click="removeMailTo(email.date, $index)"><i class="fa fa-times deleteMail"></i></p>
                            </div>
                        </div>
                        <div id="{{email.date}}" class="collapse">
                            <p>Subject : {{email.subject}}</p>
                            <div ng-bind-html="email.text"></div>
                        </div>
                    </div>
                </div>
                <div id="receivedDetails" class="collapse in col-md-12 text-center">
                    <div class="row sortOptionsDiv">
                        <div class="col-xs-12">
                            <input type="text" class="searchTaskInput searchTaskInput2" placeholder="Search" ng-model='seachMailFrom'>
                        </div>
                        <div ng-click="sortByFrom()" class="col-xs-4 sortOptions">From <i class="fa fa-sort"></i></div>
                        <div ng-click="sortBySubjectFrom()" class="col-xs-4 sortOptions">Subject <i class="fa fa-sort"></i></div>
                        <div ng-click="sortByDateFrom()" class="col-xs-3 sortOptions">Date <i class="fa fa-sort"></i></div>
                    </div>
                    <div id="divFrom" ng-repeat="email in user.receivedMails | orderBy : sortingFrom | filter : seachMailFrom" class="panel-group people text-left">
                        <div type="button" class="row" data-toggle="collapse" data-target="#{{email.date}}" ng-click="readMails(email.date, email.read, $index, $event)">
                            <div class="col-xs-4">
                                <p class="emailPar text-center">{{email.from}}</p>
                            </div>
                            <div class="col-xs-4">
                                <p class="emailPar text-center">{{email.smallerSubject}}</p>
                            </div>
                            <div class="col-xs-3">
                                <p class="emailPar text-center">{{email.updateDateShow}}</p>
                            </div>
                            <div class="col-xs-1">
                                <p class="emailPar text-center" ng-click="removeMailFrom(email.date, $index)"><i class="fa fa-times deleteMail"></i></p>
                            </div>
                        </div>
                        <div id="{{email.date}}" class="collapse">
                            <p class="subjectEmail">Subject : {{email.subject}}</p>
                            <div ng-bind-html="email.text"></div>
                            <button class="btn btn-primary" ng-click="newMailModal(email.from, email.subject)"> Answer </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="jumbotron jumbo accountRight row">
            <div class="page-header row" ng-show="user.role == 'Admin'">
                <div class="col-xs-6">
                    <button ng-click="hidePeople()" type="button" class="btn btn-info col-xs-8 col-xs-offset-2" data-toggle="collapse" data-target="#lastChanges">Last Changes</button>
                </div>
                <div class="col-xs-6">
                    <button ng-click="hideChanges()" type="button" class="btn btn-info col-xs-8 col-xs-offset-2" data-toggle="collapse" data-target="#peoples">People</button>

                </div>

            </div>
            <div ng-hide="user.role == 'Admin'">
                <h3 class="myLastChanges text-center page-header">My last changes</h3>
            </div>
            <div id="lastChanges" class="collapse in col-md-12 text-center">
                <div class="col-xs-4 ">
                    <p>Modified</p>
                    <hr>
                </div>
                <div class="col-xs-4 ">
                    <p>Name</p>
                    <hr>
                </div>
                <div class="col-xs-4 ">
                    <p>Date</p>
                    <hr>
                </div>
                <div ng-show="newsSend"><i class="fa fa-spinner fa-spin dashLoad"></i></div>

                <div ng-hide="newsSend">
                    <div ng-show="news.length==0">
                        <h3 class="text-danger text-center">You did not made any last changes!</h3>
                    </div>
                    <div ng-repeat="new in news | orderBy : '-updateDate'">
                        <div ng-if="new.taskId" class="newTask row col-xs-12 text-center people myNews">
                            <a href="/project/task/{{new.taskId}}">
                                <div class="col-xs-4 ">
                                    <p>{{new.change}}</p>
                                </div>
                                <div class="col-xs-4 ">
                                    <p>{{new.name}}</p>
                                </div>
                                <div class="col-xs-4 ">
                                    <p>{{new.updateDateShow}}</p>
                                </div>
                            </a>
                        </div>
                        <div ng-if="!new.taskId" class="newProject row col-xs-12 text-center people myNews">
                            <a href="/project/{{new.projectId}}">
                                <div class="col-xs-4 ">
                                    <p>{{new.change}}</p>
                                </div>
                                <div class="col-xs-4 ">
                                    <p>{{new.name}}</p>
                                </div>
                                <div class="col-xs-4 ">
                                    <p>{{new.updateDateShow}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="peoples" class="collapse col-md-12 text-center">
                <div class="row sortOptionsDiv">
                    <div class="col-xs-12">
                        <input type="text" class="searchTaskInput  searchTaskInput2" placeholder="Search" ng-model='seachUser'>
                    </div>
                    <div ng-click="sortByName()" class="col-xs-4 sortOptions">Name <i class="fa fa-sort"></i></div>
                    <div ng-click="sortByEmail()" class="col-xs-4 sortOptions">E-mail <i class="fa fa-sort"></i></div>
                    <div ng-click="sortByRole()" class="col-xs-2 sortOptions">Role <i class="fa fa-sort"></i></div>
                </div>
                <div ng-repeat="man in allUsers | orderBy : sorting | filter : seachUser" class="row people text-left">
                    <div class="col-md-4"> {{man.fullName}}</div>
                    <div class="col-md-4 "> {{man.email}}</div>
                    <div class="col-md-2 text-center">
                        <select ng-hide="man.role=='Admin'" class="selectpicker show-tick" ng-model="man.role" ng-change="updateMan(man._id, man.role, $index)">
                                    <option value="Admin" class="taskOption" ng-model="allUsers[$index].role" >Admin</option>   
                                    <option value="Employee" class="epicOption" ng-model="allUsers[$index].role">Employee</option>
                                    <option value="Manager" class="bugOption" ng-model="allUsers[$index].role">Manager</option>       
                                </select>
                    </div>
                    <div ng-hide="man.role=='Admin'" ng-click="removeUser(man._id, $index)" class="col-md-2"><span class="btn btn-warning">Remove</span> </div>
                </div>

            </div>
        </div>
    </div>
</div>