<div>
    <div ng-show="dashSend"><i class="fa fa-spinner fa-spin dashLoad"></i></div>
    <div ng-hide="dashSend" class="row">
        <div ng-hide="projects.length>0">
            <h1>YOU DONT HAVE PROJECTS YET</h1>
        </div>
        <div ng-show="projects.length>0" class="col-md-12">
            <input ng-model='seachProject' id="search" type="text" placeholder="Search...">
        </div>
        <div ng-repeat="p in projects | filter : seachProject" class="col-lg-3 col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <div ng-if='p.type=="Software"'>
                                <img ng-src="../images/software-icon.png" alt="soft" class="panelImg" />
                            </div>
                            <div ng-if='p.type=="Business"'>
                                <img ng-src="../images/business-icon.png" alt="business" class="panelImg" />
                            </div>
                            <div ng-if='p.type=="Service"'>
                                <img ng-src="../images/service-icon.png" alt="service" class="panelImg" />
                            </div>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h3>{{p.name}}</h3>
                            <p>type {{p.type}}</p>
                            <p>by {{p.userFullname}}</p>
                        </div>
                    </div>
                </div>
                <a href="/project/{{p._id}}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>