<div>
    <h1>Welcome to </h1>
    <h3>JIRA Home page</h3>
    <div class="container row">
        <div class="col-sm-6">
            <img width="400" src="https://www.atlassian.com/sc-shared/img/product-image-JSW.svg" alt="">
            <h3>This is our Cloud option, hosted by us.</h3>
            <a href='/register'>Register</a>
            <a href='/login'>Sing in</a>
            <a ng-click="logOutUser()">Log out</a>

            <button ng-click="getUserId()">get id</button>

            <button ng-click="logModal()"> login btn</button>
            <button ng-click="regModal()"> register btn</button>
        </div>
        <div class="col-sm-6">
            <h1>{{user.id}}</h1>
        </div>
    </div>
    <!-- Log in -->
    <form name="formLogin" ng-controller="UserCtrl" class="modal fade" id="signIn" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="text-center">Влез в профила си</h1>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input ng-model="formData.username" type="text" class="form-control " placeholder="Потребител" autofocus required/>
                    </div>

                    <div class="form-group">
                        <input ng-model="formData.password" type="password" class="form-control " placeholder="Парола" required/>
                    </div>

                    <div class="form-group">
                        <input ng-disabled="formLogin.$invalid" ng-click="logInUser()" type="button" class="btn btn-block btn-lg  btn-primary" value="Вход" />
                        <p>{{err}}</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Register -->

    <form name="formReg" ng-controller="UserCtrl" class="modal fade" id="signUp" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="text-center">Регистрация</h1>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input ng-model="regData.username" type="text" class="form-control " placeholder="Потребител" autofocus/>
                    </div>

                    <div class="form-group">
                        <input ng-model="regData.password" type="password" class="form-control " placeholder="Парола" />
                    </div>

                    <div class="form-group">
                        <input ng-model="regData.repeatPassword" type="password" class="form-control " placeholder="Парола" required />
                    </div>

                    <div class="form-group">
                        <input ng-model="regData.email" type="email" class="form-control " placeholder="E-mail" required/>
                    </div>

                    <div class="form-group">
                        <input ng-disabled="formReg.$invalid" ng-click="regUser()" type="button" class="btn btn-block btn-lg  btn-primary" value="Регистрация" required/>
                        <p>{{err}}</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>