<div class="row">
    <div class="col-md-3 col-sm-4 nav"></div>
    <div class="col-md-9 col-sm-8 main-content peoplePage">
        <div class="welcomeText row">
            <div class="col-sm-2">
                <h3 ng-if="user.role!='Employee'" ng-click="addPeople()" class="btn btn-success">Add people</h3>
            </div>
            <div class="col-sm-9">
                <h1 class="letterDrop letterDropPeople">PEOPLE</h1>
            </div>
            <div class="col-sm-1 logoutHolder">
                <div class="logOutBtn" ng-click="logoutUser()"><i class="fa fa-times"></i></div>
                <div class="logOutText">Exit</div>
            </div>
        </div>
        <form name="addNewUser" ng-controller="UserCtrl" class="modal fade" id="addPeople" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" id="createNewPr">
                    <div class="modal-header">
                        <h1 class="text-center white">Add new user</h1>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input ng-model="newUser.name" type="text" class="form-control reg " placeholder="User full name" required autofocus/>
                        </div>
                        <div class="form-group text-center">
                            <input ng-disabled="addNewUser.$invalid" ng-click="addNewUserF()" type="button" class="btn btn-primary btn-filled loginBtn" value="Add" />
                            <p id="addUserT">{{addUserText}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-md-12">
            <input ng-model='searchPeople' id="search" type="text" placeholder="Search..">
        </div>
        <div class="row sortOptionsDiv">
            <div class="col-xs-4 sortOptions">Name</div>
            <div class="col-xs-4 sortOptions">E-mail</div>
            <div class="col-xs-2 sortOptions">Role</div>
            <div class="col-xs-2"></div>

        </div>
        <div ng-repeat="man in people | filter:searchPeople" class="row people poepleHolder ">
            <div ng-click="newMailModal(man.email)" class="col-xs-10">
                <div class="col-xs-12 col-sm-5 leftForXs"> {{man.fullName}}</div>
                <div class="col-xs-6 col-sm-5 leftForXs"> {{man.email}}</div>
                <div class="col-xs-6 col-sm-2 rightForXs"> {{man.role}}</div>

            </div>
            <div ng-click="removeUser($event)" ng-if="man.role !='Admin' && user.role!='Employee'" class="col-xs-2  "><span id="{{man._id}}" class="btn btn-warning btnRemovePeopleXs "><span class="removeBtnText">Remove</span></span>
            </div>
        </div>
    </div>

</div>
<form name="mailData" class="modal fade" id="createeMail" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="createNewPr">
            <div class="modal-header">
                <h1 class="text-center white">Send new mail</h1>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label style="color:#fff">To: </label>
                    <input ng-model="newMail.to" type="email" class="form-control reg " placeholder="Email" required autofocus/>
                </div>
                <div class="form-group">
                    <label style="color:#fff">Subject :</label>
                    <input ng-model="newMail.subject" type="text" class="form-control reg " placeholder="Subject here" required/>
                </div>
                <div class="descriptionArea" ckeditor="options" ng-model="newMail.text" ready=""></div>
                <div class="form-group text-center">
                    <input ng-disabled="mailData.$invalid" ng-click="sentNewMailTo()" type="button" class="btn btn-primary btn-filled loginBtn sendMailBtn" value="Send" />
                    <p id="sendedMailPT">{{mailTextT}}</p>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="col-md-9 col-md-offset-3 col-sm-12 fixedFooter">
    <div class="footerProject ">
        <p> <span class="toTop" ng-click="toTopProjectPage()"><i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i></span>
        </p>
    </div>
</div>