<div class="row">

    <div class="col-md-3 col-sm-4 nav"></div>
    <div class="col-md-9 col-sm-8 main-content projectPage">
        <div class="welcomeText row">
            <div class="col-sm-2">
                <h3 ng-if="user.role =='Admin'" ng-click="removeProjectFunc()" class="btn btn-warning addPeopleBtn removeProjectBtn">Remove Project</h3>
            </div>
            <div class="col-sm-9">
                <h1 class="letterDrop letterDropTask">TASKS</h1>
            </div>
            <div class="col-sm-1 logoutHolder logOutHolderPr">
                <div class="logOutBtn" ng-click="logoutUser()"><i class="fa fa-times"></i></div>
                <div class="logOutText">Exit</div>
            </div>
        </div>
        <div id="projectPageTop" class="row sortOptionsDiv">
            <div class="col-xs-12 col-sm-12 col-md-1">
                <button ng-click="showMine()" class="sortOptions btn btnShowMine">My Tasks </button>
            </div>
            <div class="col-xs-3 ">
                <p ng-click="sortByName()" class="sortOptions">Name <i class="fa fa-sort faSort"></i></p>
            </div>
            <div class="col-xs-3 ">
                <p ng-click="sortByType()" class="sortOptions">Type <i class="fa fa-sort faSort"></i></p>
            </div>
            <div class="col-xs-2 ">
                <p ng-click="sortByPriority()" class="sortOptions ">Priority <i class="fa fa-sort faSort"></i></p>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-3">
                <input type="text" class="searchTaskInput" placeholder="Search" ng-model='seachTask'>
            </div>
        </div>
        <div ng-show="projectSend"><i class="fa fa-spinner fa-spin dashLoad"></i></div>
        <div ng-hide="projectSend" ng-repeat="task in tasks | filter : seachTask | orderBy : sorting">

            <div class="row people projectPageTasks">
                <a href="/project/task/{{task._id}}">
                    <div class="col-xs-4">
                        <div ng-if='task.type=="epic"'>
                            <img ng-src="../images/epic-icon.png" alt="epic" class="panelImg" />
                            <p class="taskOption"> {{task.name}}</p>
                        </div>
                        <div ng-if='task.type=="story"'>
                            <img ng-src="../images/story-icon.png" alt="story" class="panelImg" />
                            <p class="taskOption"> {{task.name}}</p>
                        </div>
                        <div ng-if='task.type=="bug"'>
                            <img ng-src="../images/bug-icon.png" alt="service" class="panelImg" />
                            <p class="taskOption"> {{task.name}}</p>
                        </div>
                        <div ng-if='task.type=="task"'>
                            <img ng-src="../images/task-icon.png" alt="task" class="panelImg" />
                            <p class="taskOption"> {{task.name}}</p>
                        </div>
                    </div>
                    <div class="col-xs-3 taskOption">
                        <p>{{task.type}}</p>
                    </div>
                    <div class="col-xs-2 taskOption">
                        <p>{{task.priority}}</p>
                    </div>
                </a>
                <div ng-click="removeTask($event)" ng-if="task.userId==user._id || user.role!='Employee'" class="col-xs-3 taskOption"><span id="{{task._id}}" class=" btn btn-warning btnRemoveTaskWar"><span class="btnText">Remove</span></span>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="col-md-9 col-md-offset-3 col-sm-12 ">
    <div class="footerProject ">
        <p> <span class="toTop" ng-click="toTopProjectPage()"><i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i></span>
        </p>
    </div>
</div>