<fieldset>
    <form>
        <input type="text" name="username" ng-model="regData.username" placeholder="Username" required>
        <input type="password" name="password" ng-model="regData.password" placeholder="password" required>
        <input type="password" name="repeatPassword" ng-model="regData.repeatPassword" placeholder="Repeat Password" required>
        <input type="email" name="email" ng-model="regData.email" placeholder="E-mail">
        <button ng-click="regUser()">Log in</button>
    </form>
    <p>{{err}}</p>
</fieldset>