<div class="row">

    <div class="col-md-3 col-sm-4 nav"></div>
    <div class="col-md-9 col-sm-8 main-content">
        <div class="welcomeText row">
            <div class="col-sm-11">
                <h1 class="letterDrop">Active Sprints</h1>
            </div>
            <div class="col-sm-1 logoutHolder">
                <div class="logOutBtn" ng-click="logoutUser()"><i class="fa fa-times"></i></div>
                <div class="logOutText">Exit</div>
            </div>
        </div>
        <div class="col-sm-3 sprints">
            <h3>To Do</h3>
            <hr>
            <div class="people" ng-repeat="task in tasks | filter: task.progress='To Do'">

                <a href="/project/task/{{task._id}}">

                    <div ng-if='task.type=="epic"'>
                        <img ng-src="../images/epic-icon.png" alt="epic" class="panelImg imgSprints" />
                        <span class="taskOption"> {{task.name}}</span>
                    </div>
                    <div ng-if='task.type=="story"'>
                        <img ng-src="../images/story-icon.png" alt="story" class="panelImg imgSprints" />
                        <span class="taskOption"> {{task.name}}</span>
                    </div>
                    <div ng-if='task.type=="bug"'>
                        <img ng-src="../images/bug-icon.png" alt="service" class="panelImg imgSprints" />
                        <span class="taskOption"> {{task.name}}</span>
                    </div>
                    <div ng-if='task.type=="task"'>
                        <img ng-src="../images/task-icon.png" alt="task" class="panelImg imgSprints" />
                        <span class="taskOption"> {{task.name}}</span>
                    </div>

                </a>

            </div>
        </div>
        <div class="col-sm-3 sprints">
            <h3>In Progress</h3>
            <hr>
            <div class="people" ng-repeat="task in tasks | filter: task.progress='In Progress'">

                <a href="/project/task/{{task._id}}">

                    <div ng-if='task.type=="epic"'>
                        <img ng-src="../images/epic-icon.png" alt="epic" class="panelImg imgSprints" />
                        <span class="taskOption"> {{task.name}}</span>
                    </div>
                    <div ng-if='task.type=="story"'>
                        <img ng-src="../images/story-icon.png" alt="story" class="panelImg imgSprints" />
                        <span class="taskOption"> {{task.name}}</span>
                    </div>
                    <div ng-if='task.type=="bug"'>
                        <img ng-src="../images/bug-icon.png" alt="service" class="panelImg imgSprints" />
                        <span class="taskOption"> {{task.name}}</span>
                    </div>
                    <div ng-if='task.type=="task"'>
                        <img ng-src="../images/task-icon.png" alt="task" class="panelImg imgSprints" />
                        <span class="taskOption"> {{task.name}}</span>
                    </div>

                </a>
            </div>
        </div>
        <div class="col-sm-3 sprints">
            <h3>Done</h3>
            <hr>
            <div class="people" ng-repeat="task in tasks | filter: task.progress='Done'">

                <a href="/project/task/{{task._id}}">

                    <div ng-if='task.type=="epic"'>
                        <img ng-src="../images/epic-icon.png" alt="epic" class="panelImg imgSprints" />
                        <span class="taskOption"> {{task.name}}</span>
                    </div>
                    <div ng-if='task.type=="story"'>
                        <img ng-src="../images/story-icon.png" alt="story" class="panelImg imgSprints" />
                        <span class="taskOption"> {{task.name}}</span>
                    </div>
                    <div ng-if='task.type=="bug"'>
                        <img ng-src="../images/bug-icon.png" alt="service" class="panelImg imgSprints" />
                        <span class="taskOption"> {{task.name}}</span>
                    </div>
                    <div ng-if='task.type=="task"'>
                        <img ng-src="../images/task-icon.png" alt="task" class="panelImg imgSprints" />
                        <span class="taskOption"> {{task.name}}</span>
                    </div>

                </a>

            </div>
        </div>
        <hr class="col-md-12">
        <div class="col-md-12 row charts">
            <div class="col-md-6">
                <h1>All Tasks by Types</h1>
                <canvas id="otherChart" width="400" height="400"></canvas>
            </div>
            <div class="col-md-6">
                <h1>All Tasks by Progress</h1>
                <canvas id="chart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-md-9 col-md-offset-3 col-sm-12">
    <div class="footerProject">
        <p class="footerText">All rights reserved &#169</p>
    </div>
</div>