<div class="row" ng-controller="TaskCtrl">
    <div class="col-md-3 col-sm-4 nav "></div>
    <div class="col-md-9 col-sm-8 main-content taskPage">
        <div class="welcomeText row">
            <div class="col-sm-11">
                <div class="col-sm-3">
                    <div ng-if='task.type=="epic"'>
                        <img ng-src="../images/epic-icon.png" alt="epic" class="panelImg taskImg" />
                    </div>
                    <div ng-if='task.type=="story"'>
                        <img ng-src="../images/story-icon.png" alt="story" class="panelImg taskImg" />
                    </div>
                    <div ng-if='task.type=="bug"'>
                        <img ng-src="../images/bug-icon.png" alt="service" class="panelImg taskImg" />
                    </div>
                    <div ng-if='task.type=="task"'>
                        <img ng-src="../images/task-icon.png" alt="task" class="panelImg taskImg" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3 class="taskName">{{task.name}}</h3>
                </div>

            </div>
            <div class="col-sm-1 logoutHolder">
                <div class="logOutBtn" ng-click="logoutUser()"><i class="fa fa-times"></i></div>
                <div class="logOutText">Log Out</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-sm-7 ">
                <div class="btn-group btnsProgress" ng-model="task.progress">
                    <button type="button" class="btn btnProgress" ng-model="progress" ng-click="progressToDo()">To do</button>
                    <button type="button" class="btn btnProgress" ng-model="progress" ng-click="progressInProgress()">In progress</button>
                    <button type="button" class="btn btnProgress" ng-model="progress" ng-click="progressDone()">Done</button>
                </div>
                <h1 class="detailsTask">Details</h1>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="bolder">Type</p>
                        <p class="bolder">Priority</p>
                        <p class="bolder">Status</p>
                    </div>
                    <div class="col-sm-3">
                        <select class="selectpicker show-tick" ng-model="task.type" ng-change="updateTask()">
                            <option value="task" class="taskOption" ng-model="task.type" ng-change="updateTask()">Task</option>   
                            <option value="epic" class="epicOption" ng-model="task.type" ng-change="updateTask()">Epic</option>
                            <option value="bug" class="bugOption" ng-model="task.type" ng-change="updateTask()">Bug</option>
                            <option value="story" class="storyOption" ng-model="task.type" ng-change="updateTask()">Story</option>        
                        </select>
                        <select class="selectpicker show-tick" ng-model="task.priority" ng-change="updateTask()">
                            <option value="High" ng-model="task.priority" ng-change="updateTask()">High</option>
                            <option value="Middle" ng-model="task.priority" ng-change="updateTask()">Middle</option>
                            <option value="Low" ng-model="task.priority" ng-change="updateTask()">Low</option>
                        </select>
                        <p>{{task.progress}}</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="bolder">Name</p>
                        <p class="taskNameP">{{task.name}} <i class="fa fa-pencil pencilName" aria-hidden="true"></i></p>
                        <input type="text" ng-model="task.name" class="nameEdit" />
                    </div>
                </div>
                <h1 class="descriptionTask">Description</h1>
                <hr>
                <div class="desctriptionChange">
                    <p class="addDescription">{{task.description}} <i class="fa fa-pencil pencilDescription" aria-hidden="true"></i></p>
                </div>
                <textarea ng-model="task.description" class="descriptionArea">
                    {{task.description}}
                </textarea>
                <h1 class="commentsTask">Comments</h1>
                <button class="btn btn-primary">Add Comment</button>
                <p></p>
                <textarea ng-model="commentText" name="commentArea" id="commentArea" cols="30" rows="3"></textarea>
                <p></p>
                <button class="btn btn-primary" ng-click="addCommentTask()">Press Comment</button>
                <div ng-repeat="comment in task.comments">
                    <div class="item">
                        <div class="image">
                            <div>
                                <img src="http://lorempixel.com/400/400/people/1/" />
                                <span>
                                {{comment.info.date}}
                                </span>
                            </div>
                        </div>
                        <div class="details">
                            <div>
                                <h1>{{comment.info.userFullName}}
                                    <span class="deleteComment" id="{{comment.info.date}}" ng-click="deleteComment($event)" ng-if="comment.info.userFullName==user.fullName"><i class="fa fa-times"></i></span>
                                </h1>
                                <p>{{comment.info.commentText}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-5 peopleTask">
                <h1 class="peopleTaskh1">People</h1>
                <hr>
                <h3 class="lightBlue">Assignee:</h3>
                <p ng-model="task.assignee"><i class="fa fa-user userIconTask"></i> {{task.assignee}}</p>
                <p class="assignToMe" ng-if='task.assignee!=user.fullName' ng-model="task.assignee" ng-click="assignToMeF()">Assign to me</p>
                <p class="assignTo" ng-click="assignToF()">Assign to:</p>
                <div class="assignToDiv">
                    <input placeholder="Enter fullname" class="assignToInput" type="text" ng-model="inputValue"><i class="fa fa-check checkAssign" aria-hidden="true"></i>
                </div>
                <p class="text-danger errMsgText">{{errMsg}}</p>
                <h3 class="lightBlue">Reporter</h3>
                <p>{{user.fullName}}</p>
                <h3 class="lightBlue">Dates</h3>
                <p>Created</p>
                <p>{{createDate}}</p>
                <p>Updated</p>
                <p>{{updateDate}}</p>
            </div>
        </div>

    </div>
</div>
<div class="col-md-9 col-md-offset-3 col-sm-12">
    <div class="footerTask">
        <p class="footerText">All rights reserved &#169</p>
    </div>
</div>