<div class="row" ng-controller="TaskCtrl">
    <div class="col-md-3 col-sm-4 nav "></div>
    <div class="col-md-9 col-sm-8 main-content taskPage">
        <div class="welcomeText row">
            <div class="col-sm-11">
                <div class="col-sm-3">
                    <div ng-if='task.type=="epic"'>
                        <img ng-src="../images/epic-icon.png" alt="epic" class="panelImg taskImg" />
                    </div>
                    <div ng-if='task.type=="story"'>
                        <img ng-src="../images/story-icon.png" alt="story" class="panelImg taskImg" />
                    </div>
                    <div ng-if='task.type=="bug"'>
                        <img ng-src="../images/bug-icon.png" alt="service" class="panelImg taskImg" />
                    </div>
                    <div ng-if='task.type=="task"'>
                        <img ng-src="../images/task-icon.png" alt="task" class="panelImg taskImg" />
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <h3 id="{{task.projectId}}" class="taskName prId">{{task.name}}</h3>
                </div>

            </div>
            <div class="col-sm-1 logoutHolder">
                <div class="logOutBtn" ng-click="logoutUser()"><i class="fa fa-times"></i></div>
                <div class="logOutText">Exit</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-sm-7 ">
                <button type="button" class="btn btnProgress progressToDo" ng-model="progress" ng-click="progressToDo()">To do</button>
                <button type="button" class="btn btnProgress progressInProgress" ng-model="progress" ng-click="progressInProgress()">In progress</button>
                <button type="button" class="btn btnProgress progressDone" ng-model="progress" ng-click="progressDone()">Done</button>
                <hr>
                <h1 class="detailsTask">Details</h1>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="bolder">Type</p>
                        <p class="bolder">Priority</p>
                        <p class="bolder">Status</p>
                    </div>
                    <div class="col-sm-3">
                        <select class="selectpicker show-tick" ng-model="task.type" ng-change="updateTask()">
                            <option value="task" class="taskOption" ng-model="task.type" ng-change="updateTask()">Task</option>   
                            <option value="epic" class="epicOption" ng-model="task.type" ng-change="updateTask()">Epic</option>
                            <option value="bug" class="bugOption" ng-model="task.type" ng-change="updateTask()">Bug</option>
                            <option value="story" class="storyOption" ng-model="task.type" ng-change="updateTask()">Story</option>        
                        </select>
                        <select class="selectpicker show-tick" ng-model="task.priority" ng-change="updateTask()">
                            <option value="High" ng-model="task.priority" ng-change="updateTask()">High</option>
                            <option value="Middle" ng-model="task.priority" ng-change="updateTask()">Middle</option>
                            <option value="Low" ng-model="task.priority" ng-change="updateTask()">Low</option>
                        </select>
                        <p>{{task.progress}}</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="bolder">Name</p>
                        <p class="taskNameP">{{task.name}} <i class="fa fa-pencil pencilName" aria-hidden="true"></i></p>
                        <input type="text" ng-model="task.name" class="nameEdit" />
                    </div>
                </div>
                <hr>
                <h1 class="descriptionTask">Description</h1>
                <div class="desctriptionChange">
                    <p class="addDescription">{{task.description}} <i class="fa fa-pencil pencilDescription" aria-hidden="true"></i></p>
                </div>
                <textarea ng-model="task.description" class="descriptionArea" autofocus>
                    {{task.description}}
                </textarea>
                <hr>
                <h1 class="commentsTask">Comments</h1>
                <button class="btn btn-primary addCommentBtn">Add Comment</button>
                <div class="addComment">
                    <p></p>
                    <textarea autofocus ng-model="commentText" name="commentArea" class="commentArea" cols="30" rows="3" placeholder="Enter e comment"></textarea>
                    <p></p>
                    <button class="btn btn-primary pressCommentBtn" ng-click="addCommentTask()">Send</button>
                </div>
                <div ng-show="commentSend"><i class="fa fa-spinner fa-spin dashLoad"></i></div>
                <div ng-hide="commentSend && task.comments.length <1">
                    <div ng-if="task.comments.length == 0">
                        <h1 class="noComment">No comments yet</h1>
                    </div>
                    <div ng-if=" task.comments.length > 0">
                        <div ng-repeat="comment in filteredComments">
                            <div class="item">
                                <div class="image">
                                    <div>
                                        <!-- <p>{{comment.avatar}} cscscssc</p> -->
                                        <img ng-src="{{comment.avatar}}" alt="avatar" />
                                    </div>
                                </div>
                                <div class="details">
                                    <div class="commentHolder">
                                        <div class="row">
                                            <div class="col-xs-7 userFullName">
                                                <p>{{comment.userFullName}}</p>
                                            </div>
                                            <div class="col-xs-5 userDate">
                                                <p>{{comment.createDateCom}} <span class="deleteComment" id="{{comment.date}}" ng-click="deleteComment($event)" ng-if="'comment.userFullName==user.fullName' || 'user.role==`Admin`'"><i class="fa fa-times"></i></span></p>
                                            </div>
                                        </div>
                                        <hr>
                                        <p>{{comment.commentText}}</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="commentPagination" data-pagination="" data-num-pages="numPages()" data-current-page="currentPage" data-max-size="maxSize" data-boundary-links="true"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-5 peopleTask">
                <h1 class="peopleTaskh1">People</h1>
                <h3 class="lightBlue">Assignee:</h3>
                <p ng-model="task.assignee"><i class="fa fa-user userIconTask"></i> {{task.assignee}}</p>
                <p class="assignToMe" ng-if='task.assignee!=user.fullName' ng-model="task.assignee" ng-click="assignToMeF()">Assign to me</p>
                <p class="assignTo" ng-click="assignToF()">Assign to:</p>
                <div class="assignToDiv">
                    <input placeholder="Enter fullname" class="assignToInput" type="text" ng-model="inputValue"><i class="fa fa-check checkAssign" aria-hidden="true"></i>
                </div>
                <p class="text-danger errMsgText">{{errMsg}}</p>
                <h3 class="lightBlue">Reporter</h3>
                <p>{{task.userFullName}}</p>
                <h3 class="lightBlue">Dates</h3>
                <p>Created</p>
                <p>{{createDate}}</p>
                <p>Updated</p>
                <p>{{updateDate}}</p>
            </div>
        </div>

    </div>
</div>
<div class="col-md-9 col-md-offset-3 col-sm-12">
    <div class="footerTask">
        <p class="footerText">All rights reserved &#169</p>
    </div>
</div>