    html {
        position: relative;
        height: 100%;
    }
    
    body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        min-height: 100%;
        margin: 0 0 5em;
        height: 100%;
        padding-bottom: 5em;
        background: rgb(224, 243, 235) !important;
    }
    
    a {
        color: #00B7FF;
    }
    
    .parent {
        top: 15px;
        left: 15px;
        position: fixed;
        display: block;
        width: 100px;
        height: 100px;
        background-color: transparent;
        border-radius: 50%;
        z-index: 20;
    }
    
    .homeIcon {
        width: 60%;
        height: 60%;
        border-radius: 50%;
        position: absolute;
        color: white;
        text-align: center;
        line-height: 70px;
        top: 25%;
        left: 25%;
        z-index: 19;
        transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
        position: absolute;
    }
    
    .listIcon {
        width: 60%;
        height: 60%;
        border-radius: 50%;
        position: absolute;
        color: white;
        text-align: center;
        line-height: 70px;
        top: 25%;
        left: 25%;
        z-index: 19;
        transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
    }
    
    .userIcon {
        width: 60%;
        height: 60%;
        border-radius: 50%;
        position: absolute;
        color: white;
        text-align: center;
        line-height: 70px;
        top: 25%;
        left: 25%;
        transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
    }
    
    .plusIcon {
        cursor: pointer;
        width: 60%;
        height: 60%;
        border-radius: 50%;
        position: absolute;
        color: white;
        text-align: center;
        line-height: 70px;
        top: 25%;
        left: 25%;
        transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;
    }
    
    .home {
        top: 20px;
        left: 20px;
        width: 100px;
        height: 100px;
        background: #369FC8;
        border-radius: 50%;
        position: absolute;
        z-index: 21;
        color: white;
        text-align: center;
        line-height: 120px;
        cursor: pointer;
        position: fixed;
    }
    /* try */
    
    @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800);
    .letterDrop {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 2.4em;
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        opacity: 0.8;
        transform: rotateX(-90deg);
        animation: letterDrop 1.2s ease 1 normal forwards;
    }
    
    .welcomeText {
        /* width: 100%; */
        padding-top: 1.5em;
        padding-bottom: 3em;
        margin-top: -2.5em;
        margin-bottom: 1em;
        height: 8em;
        background-color: #369FC8;
        border-radius: 5px;
    }
    
    .logoutHolder {
        top: -1em;
        left: 17px;
        width: 100px;
        height: 100px;
        background: #369FC8;
        border-radius: 50%;
        position: absolute;
        z-index: 21;
        color: white;
        text-align: center;
        line-height: 120px;
        cursor: pointer;
    }
    
    .logOutBtn {
        margin-top: -8px;
        color: white;
        font-size: 3em;
        cursor: pointer;
    }
    
    .logOutText {
        margin-top: -95px;
        display: none;
        text-align: center;
        color: white;
        font-weight: bold;
    }
    
    @keyframes letterDrop {
        10% {
            opacity: 0.5;
        }
        20% {
            opacity: 0.8;
            top: 3.75em;
            transform: rotateX(-360deg);
        }
        100% {
            opacity: 1;
            top: 4.50em;
            transform: rotateX(360deg);
        }
    }
    
    .homepage {
        background-image: url("../images/homepage.jpg") !important;
        background-size: cover !important;
    }
    
    .jumbo {
        background-color: rgba(54, 159, 200, 0.20) !important;
        margin: -10px auto;
    }
    
    .login,
    .loginBtn {
        background: none;
        border: none;
        box-shadow: none;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        background: rgba(255, 255, 255, 0.85);
        border-radius: 50px;
        padding: 14px 24px 14px 24px;
        width: 100%;
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 22px;
        color: #369FC8;
    }
    
    .reg {
        font-size: 14px;
        line-height: 24px;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #369FC8 !important;
        /* background: rgba(151, 99, 99, 0.85) !important; */
        border-radius: 50px !important;
        /* padding: 14px 24px 14px 24px !important; */
        margin-bottom: 18px;
    }
    
    .loginBtn {
        padding-top: 19px;
        padding-bottom: 19px;
        border-radius: 50px !important;
        max-width: 250px;
        height: 52px;
        margin-bottom: 30px;
        background-color: rgba(54, 159, 200, 1) !important;
        border-color: rgba(54, 159, 200, 1)!important;
    }
    
    #registerForm {
        background: none;
        background-color: rgba(54, 159, 200, 0.30) !important;
    }
    
    .homepageH {
        margin-bottom: 45px;
        color: white;
        text-shadow: 1px 1px #369FC8;
    }
    
    h1.white {
        color: white;
    }
    
    .text-white {
        display: block;
        color: #369FC8;
        font-size: 14px;
        line-height: 24px;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 9px;
        margin: 20px auto;
        border-radius: 50px !important;
        max-width: 300px;
    }
    
    .text-white:hover {
        color: white;
        background-color: #369FC8;
        cursor: pointer;
    }
    
    .panel {
        background: #056C93 !important;
        color: #FFF;
    }
    
    .panelImg {
        margin-top: 10px;
        width: 5em;
    }
    
    .panel-heading {
        height: 11em !important;
        width: auto;
    }
    
    .panel-footer {
        background: rgb(167, 211, 228) !important;
        color: #FFF;
    }
    
    .panel-footer:hover {
        color: #056C93;
    }
    
    footer {
        width: 100%;
        background: #369FC8;
        border-radius: 5px;
        height: 5em;
        text-align: center;
        color: #fff;
        bottom: 0;
    }
    
    .footerText {
        font-size: 1.5em;
        line-height: 3em;
    }
    
    .viewContent {
        min-height: 80% !important;
    }
    
    .navbar-fixed-bottom {
        width: 80% !important;
    }
    
    .headerTask {
        background: #369FC8;
        height: 7em;
        border-radius: 7px;
    }
    
    .taskImg {
        float: left;
        margin-top: 0px;
    }
    
    .taskName {
        color: #fff;
    }
    
    .btnProgress {
        background: #369FC8;
        color: white;
        width: 25%;
    }
    
    .btn-blue {
        background: #056C93;
    }
    
    .detailsTask,
    .descriptionTask,
    .commentsTask {
        color: #056C93;
        margin-top: 10px;
    }
    
    .peopleTaskh1 {
        color: #056C93;
        margin-top: 44px;
    }
    
    .bolder {
        font-weight: bold;
        color: #056C93;
    }
    
    select {
        width: 7em;
        height: 2em;
        border-radius: 2px;
    }
    
    .selectImg {
        width: 1em;
    }
    
    .pencilDescription {
        color: #369FC8;
    }
    
    .addDescription:hover,
    .taskNameP:hover {
        color: #369FC8;
        cursor: pointer;
    }
    
    .descriptionArea {
        width: 20em;
        height: 5em;
        display: none;
        border-radius: 5px;
    }
    
    .nameEdit {
        display: none;
        text-align: center;
        height: 34px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }
    
    .assignTo {
        border-radius: 10px;
        background: #369FC8;
        cursor: pointer;
        color: #fff;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .assignToInput {
        text-align: center;
        height: 34px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }
    
    .checkAssign {
        color: #369FC8;
    }
    
    .checkAssign:hover {
        cursor: pointer;
        font-size: 1.4em;
        color: #369FC8;
    }
    
    .lightBlue {
        color: #369FC8;
    }
    
    .footerProject,
    .footerTask {
        width: 71.5%;
        position: fixed;
        bottom: 0;
        left: 26%;
        /* background: rgba(54, 159, 200, 0.5); */
        border-radius: 5px;
        height: 5em;
        text-align: center;
        color: #fff;
    }
    /* comments */
    
    .noComment {
        color: #369FC8
    }
    
    .item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }
    
    .item .image {
        padding: 1em 2em;
    }
    
    .item .image>div {
        position: relative;
        text-align: center;
        font-size: 0.8em;
    }
    
    .item .image>div::after {
        content: '';
        width: 100%;
        height: 0;
        border-bottom: 1px solid #369FC8;
        position: absolute;
        top: 2.75em;
        left: 2.5em;
        z-index: -1;
    }
    
    .item .image img {
        border-radius: 50%;
        height: 9em;
        width: 9em;
        border: 0.35em solid #369FC8;
    }
    
    .left {
        float: left;
    }
    
    .item .details {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: left;
    }
    
    .item .details>div {
        border: 1px solid #369FC8;
        border-radius: 0.5em;
        height: auto;
        max-width: 33em;
        word-wrap: break-word;
        height: auto;
        min-height: 4em;
        margin: 1em 0;
        padding: 0.5em;
    }
    
    .item .userFullName,
    .item .userDate {
        color: #369FC8;
    }
    
    .item .userDate {
        text-align: right;
    }
    
    .item .userFullName {
        padding-top: 5px;
    }
    
    .item .details>div p {
        margin: 0;
        padding: 0;
    }
    
    .item .details::before {
        content: '';
        width: 0;
        height: 100%;
        border-left: 1px solid #369FC8;
        position: absolute;
        top: 0;
        left: -4.35em;
        z-index: -1;
    }
    
    .deleteComment {
        font-size: 1.5em;
    }
    
    .deleteComment:hover {
        cursor: pointer;
    }
    
    .commentArea {
        width: 538px;
        max-width: 538px;
        min-width: 538px;
        min-height: 50px;
        border: 1px solid #369FC8;
        border-radius: 6px;
        text-align: center;
    }
    
    .desctriptionChange {
        width: 100%;
        height: 200px;
        word-break: break-word;
        overflow: auto;
        border: 1px solid #369FC8;
        border-radius: 6px;
        text-align: left;
        margin-bottom: 10px;
        background: rgba(54, 159, 200, 0.04);
        padding: 10px;
    }
    
    .commentHolder {
        background: rgba(54, 159, 200, 0.04)
    }
    
    .userAvatar {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 2px solid #369FC8;
        display: block;
        margin: 0 auto;
    }
    
    #uploadPhoto {
        display: none;
    }
    
    .uploadPhotoBtn {
        margin: 10px !important;
    }
    
    .newsPage {
        text-align: center;
    }
    
    .newsHolder>.page-header p {
        font-size: 1.5em;
        font-weight: bold;
    }
    
    #lastChanges p {
        font-size: 1.3em;
    }
    
    .myNews p {
        padding-top: 7px;
        font-size: 1.1em !important;
        color: #fff;
        font-weight: bold;
    }
    
    .myNews {
        margin-left: 0px !important;
        background: #369FC8;
        border-radius: 10px;
        border: 1px solid #fff;
    }
    
    .myNews:hover p {
        color: #369FC8
    }
    
    .myLastChanges {
        margin-top: -0px !important;
    }
    
    .btnShowMine {
        background: #369FC8;
        color: white;
    }
    
    .newsAll {
        padding: 5px;
        margin: 5px 0;
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid #fff;
    }
    
    .newsAll p {
        padding-top: 7px;
        color: white;
    }
    
    .fixNews {
        margin-bottom: 20px;
    }
    
    .colorBlue {
        color: #369FC8;
    }
    
    .emailPar {
        font-size: 1em !important;
        width: 100%;
    }
    
    .poepleHolder {
        height: 45px;
        border: 1px solid #fff;
        border-radius: 10px;
        background: #5ac45a;
        color: #fff !important;
    }
    
    .poepleHolder:hover {
        color: #369FC8 !important;
    }
    
    .odd {
        background: rgba(54, 159, 200, 0.5) !important;
    }
    
    .even {
        background: rgba(54, 159, 200, 1) !important;
    }
    
    .odd:hover {
        box-shadow: 3px 3px 5px rgba(54, 159, 200, 1);
    }
    
    .even:hover {
        box-shadow: 3px 3px 5px rgba(54, 159, 200, 1);
    }